<ion-content color="light">
  <div class="main">
    <div class="question-container">
      <span>5</span>
      <span>+</span>
      <span>_</span>
      <span>=</span>
      <span>10</span>
    </div>
    <div class="choice-container">
      <div class="choice">3</div>
      <div class="choice">4</div>
      <div class="choice">5</div>
    </div>
    <div class="timer">
      <div class="timer-number"><strong>10</strong></div>
      <div class="timer-title">TIME</div>
    </div>
  </div>
</ion-content>
